/* Colors */
:root {
  --main-color: ;
  --accent-color: ;
}
/* The rest of the CSS file 
#foo h1 {
  color: var(--main-color);
}*/

/* Logo + Slogan*/
#logo {
	font-family: 'Englebert', sans-serif;
	font-size: 90px;
}

#slogan {
	float: right;
	font-weight: bolder;
}

 /* Search Input */
.search-event {
	float: left;
}

#categories {
	width: 10%;
}

#location {
	width: 10%;
}

