/*color palette
========================================
lighter orange- #F6BA4D - amber lighten-1
darker orange - #E16C29 - amber darken-3
Darkest Blue - #0D4479 - blue darken-4
Medium blue - #0BA2AE - blue lighten-1
light blue - #6aCBD3 - blue lighten-3
Lightest Blue - #D8E8DF - blue lighten-5

*/


/*Fonts
===================================
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Damion', cursive;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Lato', sans-serif;
*/

:root {
    --main-color: ;
    --accent-color: ;
}


body {
  font-family: 'Lato', sans-serif;
  color: #000;
}
/* Logo + Slogan*/
div.background {
  background: url("../images/minneapolis_mississippi_river.jpg") repeat;
  height: 30%;
  width: 100%;
  margin-top: 0px;
  border: 2px solid #000;
}

div.transbox {
  margin-top: 10%;
  margin-bottom: 0px;
  background-color: #ddd;
  opacity: 0.6;
  filter: alpha(opacity=60);
    /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}


#logo {
    font-family: 'Shadows Into Light', cursive;
    font-size: 90px;
    display: inline;
}

#slogan {
    font-size: 25px;
    display: inline;
    float: right;
    line-height: 150px;
}

/* Search Input */
.search-event {
    float: left;
    margin-right: 8%;
}

.search-form {
 	border: 4px solid #6aCBD3;
    box-shadow: 1px 1px 1px 2px #0BA2AE;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 1%;
    padding-left: 8%;
    position: relative;
}

.search-form:before {
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	right: 2px;
	bottom: 2px;
	border: 1px solid #D8E8DF;
	box-shadow: 2px 2px 2px 2px #0BA2AE;
}

button.btn {
	color: grey;
	box-shadow: 1px 1px 1px 1px #E16C29;
}

button.btn:before {
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	right: 1px;
	bottom: 1px;
	border: 1px solid #E16C29;
	box-shadow: 1px 1px 1px 1px #E16C29;
}

#navImage {
    height: 28vmin;
    width: 50vmin;
    opacity: .85;
}
  
